#greyBorder{
    border: grey solid 2px;
    background:  #cccccc;
    
    

}

a{
    color: white;
    text-align: center
}

li{
    font-family: 'Noto Sans',sans-serif;
    margin-bottom: 40px;
}

body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhY_GkMelzD50VN8hViNOTYNqDo-5O7bt8NwPNBIi6uYubZddlRg&s);
}

#noPadding{
    padding: 0%;
}

font{
    font-family: 'Noto Sans TC',sans-serif;
}

.borderLiner{
    border: 2px white solid;

}

.borderBottom{
    border-bottom: 2px solid white;
}

.borderTop{
    border-top: 2px solid white;

}

.footer{
    height: 2vh;
    position: relative;

    padding-top: 10px;
}


html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 auto ;
}

/* @media (max-width: 600px){
    p{
        font-size: s;
    }
} */
.h1{
    border: 2px white solid;
    padding: 20px;
    background: #343a40;
    text-align: center;
}

p{
    padding: 10px;
    border: 1px white solid;

    
}

img{
    border: 1px white solid;
    margin-bottom: 20px;
}

@media (min-width: 800px){
    p{
        font-size: larger;
    }
}

.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: -54px 20px 12px;
    position: relative;
}
